/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: 'Open Sans', sans-serif !important;
    box-sizing: border-box;
   
}
.navbar-brand {
    font-family: 'Righteous', cursive;
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
}
    .navbar-brand i {
        color: #0FA98F;
    }
        .navbar-brand i:hover {
            color: #13B6F6;
        }
        .navbar-brand:hover {
            color: #0FA98F;
        }
    .containerBody {
        width: 90%;
        margin: 0 auto;
    }
main{
    width:100%;
   
   
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.table th{
    cursor:pointer;
}

.btn{
    font-size:12px;
}
.btn-warning {
    background-color: #13B6F6;
    border: none;
    color: white;
}
    .btn-warning:hover {
        background-color: #078FC5;
        color: white;
    }
.btn-danger {
    background-color: #FF729F;
    border: none;
    color: white;
}
    .btn-danger:hover {
        background-color: #FF1F66;
    }
.btn-success {
    background-color: #12CEAF;
    border: none;
    color: white;
}
.btn-success {
    background-color: #0FA98F;
}
.btn-primary{
    font-size:18px;
}

.searchContainer{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    width:100%;
}
.btnsdiv {
    display: flex;
   
}

.btnsdiv a{
    margin:0 2px;
}
.btn-secondary {
    font-size: 18px;
}

.offcanvas {
    background-color: #212529;
    color:white;
    width: 20%;
}
.offcanvas-body {
    border-radius: 0px 15px 15px 0px;
    background-color: white;
    width: 80%;
    display:flex;
    justify-content: space-between!important;
    
}
    .offcanvas-body .d-flex{
     
        width:100%;
    }
    .navbar {
        background-color: #212529;
        width: 100% !important;
    }
.navbar-nav {
    justify-content: space-evenly !important;
    width:100%!important;
}
.nav-item {
    border-bottom: 1px solid #ccc;
    transition: 0.5s;
}
.nav-item i{
    
    font-size:30px;
    margin-right:10px;
    
}
.nav-item:hover {
    width: 100%;
    background-color: #ccc !important;
    border-radius:5px;
}
.btn-close {
    color: #0FA98F;
    background-color: #FF729F;
}
.btn-light i {
    color: #0FA98F;
    font-size: 20px;
  
}

.badge-success {
    background-color: #808080 ;
}
.homepagebtn:nth-last-of-type(2) {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    background-color: #0FA98F;
    border:none;
}
.homepagebtn:nth-last-of-type(2):hover {
    background-color: #0d8773; 
}
.homepagebtn:nth-last-of-type(1) {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #0FA98F;
    color: #0FA98F;
}

    .homepagebtn:nth-last-of-type(1):hover {
        background-color: #0d8773;
        color:white;
    }

.homepageNorthwind {
    font-weight: 800;
    color: #0FA98F;
}
.homepageDB {
    font-weight:300;
    color: #FF1F66;
}

@media (max-width: 1024px){
    .searchContainer {
     
        flex-direction:row;
        justify-content: center;
        align-items:center;
     
    }
    .searchInputWrapper{
        display:flex;
        flex-direction:column!important;
        
    }
    .searchInputWrapper label{
        display:none;
    }
        .searchInputWrapper select {
            width: 90%;
            
        }
        .searchInputWrapper input {
            width:75%;
        }
        .btn-primary{
            font-size:13px;
            text-align:left;
        }
    .inputOrdersSearch{
        width:40%;
    }

    .offcanvas {
        width: 100%;
    }

}