@using  Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Home Page";
}




    @if (HttpContextAccessor.HttpContext.Session.GetString("user") == null)
                    {
						<div class=" d-flex align-items-center justify-content-center" style="min-height:80vh;">
<div class="jumbotron text-center ">
  <h1 class="display-4">Welcome to <span class="homepageNorthwind">Northwin</span><span class="homepageDB">DB</span></h1>
  <p class="lead">Make sure to log in first so you can use the database !</p>
  <hr class="my-4">
  <p>Testing account : username: <span class="badge badge-success">teppo</span> , password: <span class="badge badge-success">testaaja</span></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg homepagebtn" href="/User/Login" role="button">Sign in</a>  / 
    <a class="btn btn-outline-primary btn-lg homepagebtn" href="/User/Register" role="button">Register</a>
  </p>
</div>
</div>                     
                        
                    }
                    else{
                        <div class=" d-flex align-items-center justify-content-center" style="min-height:80vh;">
<div class="jumbotron text-center ">
  <h1 class="display-4">Welcome to <span class="homepageNorthwind">Northwin</span><span class="homepageDB">DB</span></h1>
  <p class="lead">You are logged in as:    <span class="badge badge-success"> @HttpContextAccessor.HttpContext.Session.GetString("user")</span></p>
  <hr class="my-4">
  
 
</div>
</div>
                    }